*{
  margin: 0;
  border: 0;
  box-sizing:border-box;
}

body {
    background-color: #181123;
    color : #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size:2.5rem;
    font-family: sans-serif;
    position: relative;
}

span{
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    display: inline-block;
    background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


span.fade{
    opacity: 1;

    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.created 
{
    position: absolute;
    bottom: 2%;
    right: 2%;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
}
